<mat-card
  *ngFor="let book of books"
  [ngClass]="book.id === selectedBook?.id ? 'selected-book': ''"
  class="book-card">
  <mat-card-header>
    <mat-card-title [title]="book.title">{{book.title}}</mat-card-title>
    <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="book-card__image" [src]="book.coverUrl">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [href]="book.purchaseLink" target="_blank">Purchase</a>
    <button (click)="showDetails(book)" mat-button>Details</button>
  </mat-card-actions>
</mat-card>



